In [30]:
import numpy as np

np_2d_array = np.array([[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25], [26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]])
print(np_2d_array)

[[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
  25]
 [26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49
  50]]

In [31]:
#Access the element in the first row and second column
print('Access the element in the first row and second column: ', np_2d_array[0,1])

Access the element in the first row and second column:  2

In [32]:
#Access the value of First row
print('Access the value of First row: ',np_2d_array[0, :])

Access the value of First row:  [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25]

In [33]:
#Access the value of Second row
print('Access the value of Second row: ',np_2d_array[1, :])

Access the value of Second row:  [26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49
 50]

In [34]:
#Access the value of First column
print('Access the value of First column: ',np_2d_array[:, 0])

Access the value of First column:  [ 1 26]

In [35]:
#Access the value of last column
print('Access the value of Last column: ',np_2d_array[:, 24])

Access the value of Last column:  [25 50]

In [36]:
#Access specific elements:
print('Access specific elements: ', np_2d_array[[1],[1]])

Access specific elements:  [27]

In [37]:
#Access elements greater than 30
print('Access elements greater than 30: ', np_2d_array[np_2d_array>30])

Access elements greater than 30:  [31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50]

In [38]:
#Get Elements that are even
print('Get Elements that are even: ', np_2d_array[np_2d_array%2==0])

Get Elements that are even:  [ 2  4  6  8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48
 50]

In [39]:
#Using ndindex to Loop Over Individual Elements
for idx in np.ndindex(np_2d_array.shape):
    print(f'Element at {idx} is {np_2d_array[idx]}')

Element at (0, 0) is 1
Element at (0, 1) is 2
Element at (0, 2) is 3
Element at (0, 3) is 4
Element at (0, 4) is 5
Element at (0, 5) is 6
Element at (0, 6) is 7
Element at (0, 7) is 8
Element at (0, 8) is 9
Element at (0, 9) is 10
Element at (0, 10) is 11
Element at (0, 11) is 12
Element at (0, 12) is 13
Element at (0, 13) is 14
Element at (0, 14) is 15
Element at (0, 15) is 16
Element at (0, 16) is 17
Element at (0, 17) is 18
Element at (0, 18) is 19
Element at (0, 19) is 20
Element at (0, 20) is 21
Element at (0, 21) is 22
Element at (0, 22) is 23
Element at (0, 23) is 24
Element at (0, 24) is 25
Element at (1, 0) is 26
Element at (1, 1) is 27
Element at (1, 2) is 28
Element at (1, 3) is 29
Element at (1, 4) is 30
Element at (1, 5) is 31
Element at (1, 6) is 32
Element at (1, 7) is 33
Element at (1, 8) is 34
Element at (1, 9) is 35
Element at (1, 10) is 36
Element at (1, 11) is 37
Element at (1, 12) is 38
Element at (1, 13) is 39
Element at (1, 14) is 40
Element at (1, 15) is 41
Element at (1, 16) is 42
Element at (1, 17) is 43
Element at (1, 18) is 44
Element at (1, 19) is 45
Element at (1, 20) is 46
Element at (1, 21) is 47
Element at (1, 22) is 48
Element at (1, 23) is 49
Element at (1, 24) is 50